{% extends "base.html" %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="welcome">
    <img src="{% static 'images/products.jpeg' %}" alt="Products">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptates nam eaque quia officia omnis
        mollitia incidunt dolore soluta deserunt!
    </p>
</div>
<a href="{% url 'products' %}" class="btn">view</a>
{% endblock %}
